In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from bs4 import BeautifulSoup
import tensorflow as tf

(I didn't know pandas could just read html tables until now)

In [19]:
table = BeautifulSoup(open('unirev_best_unis.html','r').read()).find('table')
df_list = pd.read_html(str(table))
data = df_list[0]
data

,PBA College Rank,University / College,Times US College Rankings,USnews,Jiao Tong,PBA points,Number of Students: Sort for largest college in America,Cost: Sort for Cheapest and most Expensive college in America
0,1,Harvard University,1,1,1,3,19257,"$36,173"
1,2,Princeton University,3,2,7,12,7334,"$34,290"
2,3,Massachusetts Institute of Technology,6,4,4,14,1022,"$36,390"
3,3,Yale University,2,3,9,14,11454,"$35,300"
4,5,California Institute of Technology,4,6,5,15,2133,"$34,437"
...,...,...,...,...,...,...,...,...
95,95,University of South Carolina,84,108,73,265,27272,"$22,908"
96,97,Colorado State University,79,125,62,266,27569,"$21,590"
97,98,Worcester Polytechnic Institute,90,71,109,270,4157,"$36,390"
98,99,Baylor University,90,76,109,275,14174,"$26,234"
99,100,University of Kentucky,86,116,73,275,25856,"$15,884"